.mz-category,
.mz-searchresults {
    .mz-l-pagecontent {
				position: relative;
				min-height: 400px;
				padding: 0;
				overflow-x: hidden;
				clear: both;

				.mz-l-sidebar {
					padding-left: 4.5%;
					background-color: @ghostWhite;

					h1 {
						margin-top: 25px;
						color: @headingColor;
						font-size: 14px;
						text-transform: @uppercase;
					}
					h3 {
						a {
							color: @headingColor;
							font-size: 14px;
							font-weight: @regular;
							text-transform: none;
						}
					}

          @media @mobile {
            display: none;
          }
				}
    }
    .title-sort-breadcrumb-wrapper {
        .mz-l-paginatedlist-header {
            border-bottom: 1px solid @colorLightGray;
        }
        .mz-paging-sorttitle {
             font-size: @fontSize - 1px;
            .fontsMedium();
        }
        .mz-pagingcontrols-pagesort-dropdown{
            font-weight: normal;
        }
    }

    .content-container {
      border-bottom: 1px solid @ghostWhite;
      padding: 0 35px 20px 20px;

      @media @mobile {
        padding: 0 15px;
      }
    }
}

.top-banner {
  position: relative;
  width: 100%;
  background: url('http://cdn-sb.mozu.com/27025-m1/cms/files/21370f55-b5fd-4f8f-b6dd-b81932fe0441');
  background-position: center;
  background-size: cover;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 26%;

      @media @mobile {
        padding-top: 40%;
      }
  }

  .top-banner-overlay {
    position: absolute;
    top: ~"calc(50% - 45px)";
    left: ~"calc(50% - 125px)";
    width: 270px;
    height: 80px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: fade(@overlayColor, 30%);

    .top-banner-overlay-image {
      width: 100%;
      height: 100%;
      padding: 10px 15px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &:hover {
      background-color: fade(@overlayColor, 70%);
    }

    @media @mobile {
      top: ~"calc(50% - 35px)";
      left: ~"calc(50% - 115px)";
      width: 230px;
      height: 70px;
    }
  }
}
.bottom-banner {
  position: relative;
  width: 100%;
  background-image: linear-gradient(270deg, #fff 37%, @grayBackground 100%);
  font-family: 'Myriad Pro', sans-serif;

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-top: 19%;
      background-image: url('http://cdn-sb.mozu.com/27025-m1/cms/files/04ad1e8b-811d-46eb-a84c-ab89085107cc');
      background-position: center;
      background-size: 40%;
      background-repeat: no-repeat;
      background-position: right 60%;

      @media @mobile-sm-bootstrap {
        padding-top: 40%;
      }
  }

  .bottom-banner-tab {
    position: absolute;
    top: 0;
    left: 25px;
    height: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: @secondaryColor;
    padding: 5px 20px;
    color: #fff;
    font-size: 16px;
    font-weight: @semi-bold;
    text-transform: @uppercase;
  }

  .bottom-banner-content {
    position: absolute;
    top: 30px;
    left: 25px;
    height: ~"calc(100% - 30px);";
    display: flex;
    flex-direction: column;
    padding: 5px 20px;

    .bottom-banner-content-logo {
      height: 100%;
      width: auto;
      background-image: url("http://cdn-sb.mozu.com/27025-m1/cms/files/b5d84524-16e8-4b6e-a2e4-f90ec4eb0f24");
      background-repeat: no-repeat;

      @media @mobile-sm-bootstrap {
        width: 66%;
      }
    }

    & p {
      margin: 0;
      font-size: 14px;
      font-weight: @bold;

      &:last-child {
        font-size: 10px;
        font-weight: @regular;
      }

      @media @mobile {
        width: 75%
      }
    }
  }
}
