#global-cart {
    display: none;
    position: absolute;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    top: 60px;
    right: 0;
    width: 555px;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: white;
    z-index: 10;
    border-radius: 3px;
    .arrow-up {
        position: absolute;
        top: -20px;
        right: 35px;
        margin-left: -10px;
        width: 0px;
        height: 0px;
        border-color: transparent;
        border-style: solid;
        border-width: 10px;
        border-bottom-color: rgba(0, 0, 0, 0.25);
        content: "";
        z-index: 10;
        &:after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 10px;
            content: " ";
            top: 1px;
            margin-left: -10px;
            border-top-width: 0;
            border-bottom-color: #fff;
        }
        @media @mobile {
          right: 95px;
        }
    }
    @media @mobile {
      top: 104px;
      right: 7px;
    }

    .heading-row {
      border-bottom: 1px solid @lightBorder;

      .item-price {
        h5 {
          width: 100%;
          text-align: center;
        }
      }

      .item-total {
        padding: 0 8px 0 0;
        h5 {
          width: 100%;
          text-align: right;
        }

      }
      div {
        display: flex;
        align-items: center;
        height: auto;
        padding: 0;

        h5 {
          margin: 0;
          color: @headingColor;
          font-size: 16px;
          font-weight: @bold;
        }

        &:first-child {
          padding-left: 15px;
          padding-right: 0;
        }
      }
    }
    .media {
      padding-bottom: 8px;
      border-bottom: 1px solid @lightBorder;
    }
    .media-heading {
      font-size: 16px;
        a {
            text-decoration: none;
            color: inherit;
        }
    }
    .item-options {
      font-size: 12px;
      .item-option-name {
        margin-right: 5px;
        font-weight: bold;

        span {
          font-weight: @regular;
          text-transform: capitalize;
        }

      }
      .mz-carttable-item-code {
        float: none;
      }
    }
    .mz-item-price {
      text-align: center;
    }
    .price-amount-col {
      padding: 0 8px 0 0;
      text-align: right;
      font-size: 16px;

      .mz-item-discount {
        float: right;
        position: relative;
        width: 115px;
        font-weight: @regular;

        .mz-item-discountamt {
          font-weight: @regular;

        }
      }
    }
    .media-image {
      text-align: center;
      white-space: nowrap;
        img {
        width: 100%;
      }
    }
    .cart-items {
        list-style: none;
        padding: 0;
    }
    .total-amount-row {
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;

      div {
        font-size: 16px;
      }
      .more-items {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;

        a {
          color: @textColor;
        }

        span {
          color: @primaryColor;
        }
      }

    }
    .tertiary-btn {
      margin: 8px 0;
    }
    .mz-l-carousel{
        height:auto;
    }
    .mz-productlist-item {
        padding-top: 10px;
        width: 200px;
        img {
            max-height: 100px;
            max-width: 100px;
        }
    }
    .view-cart-btn {
        display: inline-block;
    }
    .global-cart-padding{
        padding: 0px;
    }
}
.cart-div {
    text-align: center;
    padding: 15px;
}
.cart-btn-continue {
    text-transform: uppercase;
    width: 100%;
    height: 34px;
    background-color: #ccc;
    border: 0;
    text-align: center;
    font-size: 12px;
    color: #363636;
    line-height: 34px;
    padding: 2px 15px;
}
