@media (min-width: 768px) {

	//Site-wide rules


	//Header
	.mz-pageheader{
		height:91px;
		.ml-header-content {
			height:91px;
			.ml-header-logo-wrapper{
				position: absolute;
			    top: 23px;
			    right: auto;
			    bottom: auto;
			    left: 0;
				.logo{
					width:313px;
					height:52px;
		    		background-image: url('../resources/images/logo-sm.png');
				    background-repeat: no-repeat;
				}			
			}		
			.ml-header-search-wrapper {
			    width: 220px;
			    position: absolute;
			    top: auto;
			    right: 100px;
			    bottom: 15px;
			    left: auto;
			}	
			.ml-header-links-wrapper {
			    position: absolute;
			    top: 10px;
			    right: 2px;
			    bottom: auto;
			    left: auto;
	            .mz-utilitynav-item{
	            	padding: 0 0px 0 15px;
			        &.navbar-collapse-control{
			        	display:none;
			        }
			        &.site-msg{
                    	display:inherit;
                	} 
                	.popover{	                    
	                    top: -10px;
	                    .popover-content{
		                    .my-account-details{
		                    	a{
			                        p{display: block; }
			                    }   
    		                }   
    		            }
	                }                		            	
	            }                	          
			    		    
			}	
			.ml-header-global-cart-wrapper {
			    position: absolute;
			    top: auto;
			    right: 2px;
			    bottom: 21px;
			    left: auto;
			    background: inherit;
			    border: 0;
			    padding: 2px 0 5px 5px;
			    &:hover{
			    	#global-cart{display: block;}
			    }
			}
		}
		.media-list{
			.media{
				border-bottom: 1px solid #D3D3D3;
				padding-bottom: 10px;
				.price-amount-col{padding-right: 0; padding-left: 0; text-align: right;}
				.price-cols{
					padding-left: 0;
					padding-right: 0;
    				text-align: center;
				}
			}
			.heading-row{
				padding-bottom: 0px;				
				.bold-text{font-weight: 700;}
				.price-label{
					padding-right: 0;
					.price-each-col{padding-right: 5px; padding-left: 5px; text-align: right;}	
					.price-col{padding-left: 0; text-align: right;}
				}
				
			}			
		}
		.total-amount-row{
			padding-bottom: 10px;
			margin: 0  0 10px 0;
			border-bottom: 1px solid #D3D3D3;
		}	



	}	

	//Navigation
    .mz-sitenav {
    	height: 100% !important;
    	display:block !important;
	    border-bottom: 1px solid #e7e7e7;
	    background: #f8f8f8;
	    .container{
	        padding:0 15px;
	    }
	    .mz-sitenav-sub-container{display: block;}	    
	    .mz-sitenav-item {
	        float: left;
		    white-space: nowrap;
		    display: inline-block;		    
	        padding: 0;
        	border-bottom: 0;
        	&.mz-sitenav-item-more{
            	display:block;
        	}
        	&:hover{
        		.arrow-up {
        			display:block;
        		}
        	}        	      	
	    }
	    .mz-sitenav-link {
	    	float: none;
	        font-size: 13px;
	        padding: 8px 0;
	        color: #363636;
	        font-weight: bold;
	        &:visited {
	            color: #363636;
	        }
	        &.is-current {
	            background-color: inherit;
	        }
	    }      	
	    .ml-navbar-separator {
	        display: block;
	        &:after {
	            content: " ";
	            height: 20px;
	            width: 1px;
	            float: left;
	            background-color: #ccc;
	            margin: 8px 5px;
	        }
	    }    	
    }    
    //Secondary navigation
    .ml-navbar-secondary {
    	display:none;
    }

    //Login screen
    .modal-dialog.login-modal{ 
    	width: 370px!important;    
    	margin: 0 auto!important;
    	.modal-content{
	    	.login-btn{ 
	            height: 34px!important;
	            line-height: 34px!important;
	            padding: 0 36px!important;
		    }
		    .nav-tabs{
		    	top: -45px!important;
		    }
		    .arrow{
		    	top: 34px!important;
		    }
	    }
	}


    //Footer
	.mz-pagefooter {
	    &.ml-global-footer{
	        display:block;
	    }
	}    
    footer{
    	.col-sm-6.top-pad{
    		padding-top:0;
    	}
    	.email-container {
            margin-right: 75px;
        } 
	    .regular-footer{
	        &.mini-footer-off{
	            display:block;
	        }
	        &.mini-footer-on{
	        	display:block;
	    	}
	    }	    
		.mini-footer-on,.mini-footer-off{
		    display:none;
		}
		.ml-footer-phone-number{
			display:none;
		}
    }
	.mz-pagefooter-copyright {	        
		float: right;	        
	}
}
