#product-carousel-slider {
  overflow: hidden;

  .mz-productlisting {

    &-image {

      img {
        width: 100%;
      }
    }
  }
}
.product-carousel-listing {
    padding: 0 10% 60px;

    .swiper-container{
        height: 100%;
        .product-item {
            padding: 0 0 4rem;
            .product-listing-container{
                float: none;
                margin: 0 auto;
                position: relative;
                border: none;
                }
            }
        }
    }
    .swiper-button-next, .swiper-button-prev,
    .swiper-btn-next, .swiper-btn-prev{
        position: absolute;
        z-index: 10;
        cursor: pointer;
        width: auto;
        height: auto;

        background-image: none!important;
        font-size: 35px;
        color: @navBorder;
        &:focus{
            outline: none;
        }

    }
    .swiper-button-next,
    .swiper-btn-next{
      .usas-icon-chevron-left();
        right: 5%!important;
        left: auto!important;
    }
    .swiper-button-prev,
    .swiper-btn-prev{
      .usas-icon-chevron-right();
        left: 5%!important;
        right: auto!important;
    }

.bx-wrapper{
    .mz-pagesubtitle{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
