.mz-b2b-orders, .mz-b2b-returns {
    .mz-pagenumbers {
        display: none;
    }
   .mz-btns {
      padding: @gutter/4 0 @gutter/4 0;

      button {
          margin: 0 @gutter/4 0 0;
      }
   }
   .mz-orderlisting {
       min-height: auto;

       &:first-child {
           margin-top: 15px;
       }

       a.mz-order-code {
            text-decoration: underline;

            &:hover {
                cursor: pointer;
            }
       }
   }
   .mz-orderlisting-details-item.order-number {
       width: 199px;
   }
   .mz-b2b-orders-grid.is-loading, .mz-b2b-returns-grid.is-loading {
       display: block;
       width: 100%;
       background-position: 50% 50%;
       height: 100%;
       opacity: .5;
       animation: loadingthrob 1s linear 0s alternate infinite;
       -webkit-animation: loadingthrob 1s linear 0s alternate infinite;
   }

   .mz-b2b-orders-grid, .mz-b2b-returns-grid {
       position: relative;
       background-image: url('../resources/images/button-loading.gif');
       background-repeat: no-repeat;
       background-position: -9999px -9999px;
       .grid-tooltip {
          position: relative;
          border-bottom: 1px dotted black;
      }

      .grid-tooltip .tooltiptext {
          visibility: hidden;
          width: 120px;
          background-color: #ccc;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;

          position: absolute;
          z-index: 1;
          top: 100%;
          left: 50%;
          margin-left: -60px;
      }

      .grid-tooltip:hover .tooltiptext {
          visibility: visible;
      }
   }

   .mz-grid-table {
        overflow-x: auto;

        .mz-grid-header {
            min-width: 480px;
        }
    }
    .mz-grid {
        border: none;

        .mz-grid-cols {
            display: flex;
            align-items: center;
    
            span.mz-grid-column {
                font-size: 14px!important;
                
                &:first-child {
                    width: 60px;
                }
                &:not(:first-child) {
                    text-align: center;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    width: 25%;

                    @media only screen and (min-width: 768px) and (max-width: 992px) {
                        max-width: 111px;
                    }
                }            
            }
        }
        .mz-grid-row {
            min-width: 480px;
            &-actions {
                display: flex;
                align-items: center;
                .mz-grid-column {
                    display: flex;
                }

                @media @desktop-bootstrap {

                    a {
                        padding: 0 7px;
                    }

                    [data-mz-action="viewOrder"] {
                        span {
                            display: none;
                        }

                        .icon(before, '06e', solid, 20px);
                    }
                }
            }
            
            a {
                cursor: pointer;
            }            
        }
    }
}

.order-status {
    .mz-order-status-section {
        display: flex;
        width: 100%;

        .mz-l-stack-sectiontitle {
            width: 100%;
        }

        .mz-order-status-section-subheading {
            margin: 10px 0;
            padding: 7px 0;
            background-color: #f1f1f2;
            font-size: 16px;
        }

        .col-sm-6:not(:only-child) {
            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }
        }

        .col-sm-6 {
            div {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

}
@media print {

    .mz-b2baccount,
    .mz-myaccount {
        #account-panels {
            width: 100%;
        }
        .mz-l-sidebar {
            display: none;
        }
    }
}