.mz-searchbox {

    @expandedSearchWidth: 320px;

    .mz-searchbox-field {
      width: 100%;
      position: relative;
      display: inline-block;
      .twitter-typeahead {
          width: 100%;
          .ml-header-search-field {
              height: 40px;
              padding: 6px 50px 6px 12px;
              // border-radius: 3px;
              // border: 1px solid #ccc;
          }
      }
    }
    .mz-searchbox-input {
        display: block;
        position: relative;
        box-sizing: border-box;
        height: 40px;
        width: 100%;
        margin: 0;
        padding-right: 40px;
        border: 1px solid @navBorder;
        .border-radius(10px);
        font-size: 14px;
        line-height: 20px;
        outline-width: 0;
        &:focus {
            outline-width: 0;
        }
    }

    .mz-searchbox-button {
        // display: block;
        position: absolute;
        box-sizing: border-box;
        right: 20px;
        top: 0;
        width: 30px;
        height: 40px;
      //   margin-left: -1em;
        background: url('../resources/images/icons/search.svg') no-repeat 50% 50%;
  	    text-indent: -999em;
  	    border-width: 0;
        border-radius: 0;
        padding: 0;
    }

    .mz-searchbox-categories {
        vertical-align: top;
        width: 100px;
    }

    .tt-dropdown-menu {
        box-sizing: border-box;
        border: 1px solid @inputBorder;
        border-width: 1px;
        width: 100%;/*@expandedSearchWidth + 1;*/
        background: white;
    }

    .tt-suggestion {
            margin: 0;
            padding: 0.4em 1em;
            border-bottom: 1px solid #f4f4f4;
            &.tt-cursor {
                background: #f4f4f4;
            }
        }

    .tt-dataset-terms {
        p {
            margin: 0;
        }
    }

    .tt-dataset-pages {
        .tt-suggestion {
            display: table;
        }
        .mz-itemlisting {
            display: table-row;
        }
        .mz-itemlisting-thumb, .mz-itemlisting-details {
            float: none;
            display: table-cell;
            padding: 0.5em;
            vertical-align: top;
        }
    }



}
